<form class="Form Form--default Form--default--search" method="get" action="{{ site.url }}">
  <div class="Form-cell">
    <input class="Form-item" type="search" placeholder='{{ _e('Search something...', 'app') }}' name="s">
    <button class="Form-button Button Button--primary -block" type="submit">
      <span class="Button-icon">{% include 'Icon.twig' with { name: 'arrowRight' } %}</span>
    </button>
  </div>
</form>
