{% if items %}
  <ul class="List List--default">
    {% for item in items %}
      <li class="List-item">
        <span class="List-meta">{{ item.meta }}</span>
        <a class="List-link" href="{{ item.link }}">
          {{ item.heading }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
